@charset "utf-8";
html {
  font-size: 100%;
}
body {
  font-family: 'Noto Serif JP', serif;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9000;
}
#animation{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}
#animation img{
  width: 170px;
  height: 150px;
}
header {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}
.header-logo {
  display: flex;
  padding: 30px 0 70px;
}
.header-contact {
  position: absolute;
  padding: 27.5px 10px;
  text-align: center;
  background: #fff;
  text-align: left;
  top: 0;
  right: 0;
}
.header-mail {
  padding-bottom: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 22px;
  display: flex;
}
.header-tel {
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 22px;
  display: flex;
}
.logo {
  width: 77px;
}
.gold-ball {
  width: 50px;
  padding-top: 50px;
}
.header-mail p:after {
  position: absolute;
  border-bottom: 1.5px solid #0c0c0c;
  top: 165px;
  right: 9%;
  content: "";
  width: 3.5rem; /* 線の長さ */
  transform: rotate(90deg);
  z-index: 1;
  }
.header-tel p:after {
  position: absolute;
  border-bottom: 1.5px solid #0c0c0c;
  top: 415px;
  right: 9%;
  content: "";
  width: 3.5rem; /* 線の長さ */
  transform: rotate(90deg);
  z-index: 1;
}
.tel-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.right-logo {
  width: 90px;
  padding: 15px 15px 0 15px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  align-items: center;
}
.burger-btn, .nav-wrapper  {
  display: none;
}
.dropdwn {
  background: #0c0c0c;
}
.dropdwn-inner{
  display: flex;
  font-size: 18px;
  font-weight: bold;
  background: #0c0c0c;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
ul{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.dropdwn-icon {
  width: 68px;
  height: 68px;
}
.dropdwn-icon_sec {
  width: 60px;
}
.dropdwn li{
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  width: 20%;
  display: inline;
  z-index: 5;
  font-weight: bold;
}
.item-center {
  display: grid;
  place-items: center;
}
.border-right {
  width: 1px;
  height: 60px;
  margin-top: 30px;
  border: 0.1px solid #fff;
  z-index: 5;
}
.dropdwn li:hover, .dropdwn a:hover {
  color:rgb(255, 194, 41);
}
.dropdwn a {
  color: #fff;
  font-weight: bold;
}
.fv {
  height: 100%;
}
.fv img{
  top: 0;
  object-fit: cover;
  width: 100vw;
  height: 500px;
}
.fv-cloud {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
}
.catalog-title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0c0c0c;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.item-center {
  display: grid;
  place-items: center;
}
.fv-title {
  font-size: 1.77rem;
  text-transform: uppercase;
}
.btn-sec, .catalog-btn {
  padding: 15px 60px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  text-decoration: underline;
}
.detail-btn {
  background-color: rgb(34, 34, 34);
  border-radius: 50px;
  font-size: 1em;
}
.detail-btn:hover {
  opacity: 0.5;
}
.main-title {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.right-text {
  position: absolute;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  top: 35%;
  left: 27%;
}
.main-title h1 {
  padding-bottom: 30px;
}
.accordion {
  padding-bottom: 10%;
}
.cp_actab {
	position: relative;
	overflow: hidden;
	width: 70%;
	margin: 0 auto 10px;
	color: #0c0c0c;
  font-size: 18px;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	cursor: pointer;
	margin: 0 0 1px 0;
	background: #f1ecde;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
	background: #e6d9b7;
}
.cp_actab .cp_actab-content p {
	margin: 1.5em;
  font-size: 15px;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 20em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '+';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}
/* footer */
footer {
  background-color: #E6E5E5;
  color: #707070;
  text-align: center;
  padding: 3% 0 5%;
}
.footer-wrapper {
  display: flex;
}
.footer-logo {
  width: 8em;
  padding-top: 30px;
}
.footer-img {
  width: 40%;
}
.footer-detail {
  width: 30%;
  text-align: left;
  padding-top: 30px;
}
.footer-ul {
  width: 30%;
  line-height: 35px;
  margin: 0;
}
.footer-ul a {
  color: #707070;
}
#page-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#page-top a {
  display: block;
  width: 100px;
  padding: 25px 0;
}
#page-top svg {
  background-color: #fff;
  border: 1px solid rgb(0, 124, 59);
  border-radius: 50%;
}
.temple {
  max-width: 100%;
}
.temple h1 {
  color: #0c0c0c;
  margin-left: 14%;
  font-size: 2rem;
  padding: 20px 0 30px;
}
.singi {
  background-color: #e6e6e6;
  width:45%;
  margin: 0 auto 4%;
  padding: 10px 10px 50px;
  border-radius: 50px;
}
.tendai, .souchi-zan, .sin-tozan {
  background-color: #e6e6e6;
  width: 60%;
  border-radius: 50px;
  margin: 0 auto 40px;
  padding: 10px 10px 50px;
}
.zyodo, .takanoyama {
  background-color: #e6e6e6;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px 50px 0 0;
}
.takanoyama-btm {
  background-color: #e6e6e6;
  width: 75%;
  margin: 0 auto 40px;
  border-radius: 0 0 50px 50px;
  padding: 0 0 50px;
}
.zyodo-btm {
  background-color: #e6e6e6;
  width: 75%;
  margin: 0 auto 40px;
  border-radius: 0 0 50px 50px;
  padding: 0 0 50px;
}
.tendai-content {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.tendai-item {
  border: 2px solid #000;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
}
.temple-content {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .main-title h1 {
    font-size: 2.5rem;
  }
  .main-title p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1500px) {
  .tendai, .souchi-zan, .sin-tozan, .singi {
    width: 80%;
  }
  .zyodo, .takanoyama, .zyodo-btm, .takanoyama-btm {
    width: 95%;
  }
}
@media screen and (max-width: 1060px) {
  .dropdwn-inner {
    width: 100%;
  }
  .dropdwn-icon {
    width: 48px;
    height: 48px;
  }
  .border-right {
    margin-top: 18px;
  }
  .right-text {
    top: 22%;
    left: 20%;
  }
  .accordion {
    padding: 4% 0 10%;
  }
  .temple {
    margin-top: 5%;
  }
  .tendai-content, .temple-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .zyodo, .takanoyama, .zyodo-btm, .takanoyama-btm {
    width: 80%;
  }
  .footer-logo {
    width: 6em;
  }
}
@media screen and (max-width: 768px){
  .logo {
    width: 68px;
  }
  .logo2 {
    width: 180px;
  }
  .drop-btn {
    padding: 0;
  }
  .dropdwn {
    font-size: 15px;
  }
  .dropdwn_menu {
    font-size: 13px;
  }
  .right-text {
    top: 10%;
    left: 10%;
  }
  .cp_actab {
    width: 80%;
    margin-bottom: 5px;
  }
  .cp_actab input:checked ~ .cp_actab-content {
    max-height: 40em;
  }
  .main-title h1 {
    padding-bottom: 20px;
  }
  .temple h1 {
    margin: 0;
  }
  .tendai, .souchi-zan, .sin-tozan, .zyodo-btm, .takanoyama-btm, .zyodo, .takanoyama {
    width: 90%;
    height: unset;
  }
  .temple-content, .tendai-content {
    width: unset;
  }
  .temple h1 {
    font-size: 23px;
  }
  .temple h2 {
    font-size: 20px;
  }
  .temple p {
    font-size: 13px;
  }
  .zyodo, .takanoyama {
    padding: 10px;
  }
  .zyodo-btm {
    padding: 0 10px 0;
  }
  .singi {
    height: unset;
  }
  #page-top {
    right: 20px;
  }
  #page-top a {
    width: unset;
  }
  #page-top svg {
    width: 48px !important;
    height: 48px !important;
  }
  footer {
    padding: 5% 0;
  }
  .footer-logo {
    width: 4em;
    padding-top: 10px;
  }
  .footer-ul, .footer-detail p {
    font-size: 0.8rem;
    line-height: 28px;
  }
  .footer-detail {
    padding-top: unset;
  }
  .footer-detail small {
    font-size: 70%;
  }
}
@media screen and (max-width: 600px) {
  .dropdwn-icon {
    width: 38px;
    height: 38px;
  }
  .dropdwn-inner p {
    font-size: 0.8rem;
  }
  .border-right {
    border: 0;
  }
  .right-text {
    position: unset;
    padding: 0 0 30px;
  }
  .cp_actab {
    width: 90%;
  }
  footer {
    padding: 10% 0;
  }
  .footer-logo {
    width: 3em;
    margin-left: 20px;
    padding-top: 0;
  }
  .footer-ul, .footer-detail p {
    font-size: 0.7rem;
    line-height: 22px;
    padding: 0;
  }
  .footer-ul, .footer-detail {
    width: 60%;
    padding: 0;
  }
  .footer-detail {
    padding-right: 20px;
    line-height: 10px;
  }
  .footer-detail small {
    font-size: 60%;
  }
}
@media screen and (max-width: 375px){
  .fv-cloud {
    display: none;
  }
  header {
    height: 48px;
  }
  .header-right {
    display: none;
  }
  .logo {
    width: 50px;
  }
  .logo2 {
    width: 100px;
  }
  .dropdwn, .dropdwn-inner {
    height: 70px;
  }
  .dropdwn li {
    margin: 10px 0 0;
  }
  .dropdwn-icon {
    width: 33px;
    height: 33px;
  }
  .dropdwn-inner p {
    font-size: 10px;
  }
  .intro-cloud {
    width: 600px;
  }
  .main-title h1 {
    padding: 0;
  }
  .burger-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: fixed;
    border-radius: 50%;
    top: 6px;
    right: 4vw;
    z-index: 3;
    background-color: #008a50;
    border: none;
  }
  .bar.cross.bar_top {
    transform: rotate(20deg);
    transition: transform .3s;
  }
  .bar.cross.bar_middle {
    opacity: 0;
    transition: opacity .3s;
  }
  .bar.cross.bar_bottom {
    transform: rotate(-20deg);
    transition: transform .3s;
  }
  .bar {
    width: 22px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: #fff;
    margin-left: 6px;
  }
  .bar_top {
    transform: translateY(-8px);
  }
  .bar_middle {
    transform: translateY(-1px);
  }
  .bar_bottom {
    transform: translateY(6px);
  }
  .nav-wrapper {
    background-color: rgba(32, 32, 32, 0.945);
    width: 50%;
    height: 100vh;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .5s,opacity .5s;
    opacity: 0;
    z-index: 2;
  }
  .nav-wrapper.open {
    transform: translateX(0);
    transition: transform .5s,opacity .5s;
    display: unset !important;
    opacity: 1;
    z-index: 2;
  }
  .nav-list {
    padding: 0;
    top: 20%;
    left: 15%;
    position: absolute;
    list-style: none;
  }
  .nav-list img, .nav-list li {
    margin-bottom: 10px;
  }
  .nav-item a {
    list-style: none;
    color: #fff;
    font-size: 13px;
  }
  .nav-item a:hover {
    color: rgb(255, 194, 41);
  }
  .accordion {
    padding: 5% 0 50px;
  }
  .main-title h1 {
    font-size: 25px;
  }
  .main-title p {
    padding-top: 10px;
    font-size: 0.8rem;
    line-height: 30px;
  }
  .cp_actab {
    width: 90%;
  }
  .cp_actab label {
    font-size: 11px;
  }
  .cp_actab .cp_actab-content p {
    font-size: 11px;
  }
  small {
    font-size: 50%;
  }
  .temple-content, .tendai-content {
    display: block;
    width: 75%;
  }
  .singi {
    width: 90%;
  }
  .zyodo, .takanoyama {
    padding: 10px;
  }
  .tendai-item img {
    width: 200px !important;
  }
  .mgn-10 {
    margin: 0 10px 10px 10px;
  }
  .pdn-10 {
    margin: 10px 10px 0 10px;
  }
  .zyodo-btm, .takanoyama-btm {
    padding: 0 10px 10px 10px;
  }
}
