@charset "utf-8";
html {
  font-size: 100%;
}
body {
  font-family: 'Noto Serif JP', serif;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}
#loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9000;
}
#animation{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}
#animation img{
  width: 170px;
  height: 150px;
}
header {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}
.header-logo {
  display: flex;
  padding: 30px 0 70px;
}
.header-contact {
  position: absolute;
  padding: 50px 10px;
  text-align: center;
  background: #fff;
  text-align: left;
  top: 0;
  right: 0;
}
.header-mail {
  padding-bottom: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 22px;
  display: flex;
}
.header-tel {
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 22px;
  display: flex;
}
.logo {
  width: 77px;
}
.gold-ball {
  width: 50px;
  padding-top: 50px;
}
.header-mail p:after {
  position: absolute;
  border-bottom: 1.5px solid #0c0c0c;
  top: 188px;
  right: 0;
  content: "";
  width: 4.4rem; /* 線の長さ */
  transform: rotate(90deg);
  z-index: 1;
}
.header-tel p:after {
  position: absolute;
  border-bottom: 1.5px solid #0c0c0c;
  top: 435px;
  right: 0;
  content: "";
  width: 4.4rem; /* 線の長さ */
  transform: rotate(90deg);
  z-index: 1;
}
.tel-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.right-logo {
  width: 90px;
  padding: 15px 15px 0 15px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  align-items: center;
}
.burger-btn, .nav-wrapper  {
  display: none;
}
.dropdwn {
  background: #0c0c0c;
}
.dropdwn-inner{
  display: flex;
  font-size: 18px;
  font-weight: bold;
  background: #0c0c0c;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
ul{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.dropdwn-icon {
  width: 68px;
  height: 68px;
}
.dropdwn-icon_sec {
  width: 60px;
}
.dropdwn li{
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  width: 20%;
  display: inline;
  z-index: 5;
  font-weight: bold;
}
.item-center {
  display: grid;
  place-items: center;
}
.border-right {
  width: 1px;
  height: 60px;
  margin-top: 30px;
  border: 0.1px solid #fff;
  z-index: 5;
}
.dropdwn li:hover, .dropdwn a:hover {
  color:rgb(255, 194, 41);
}
.dropdwn a {
  color: #fff;
  font-weight: bold;
}
.fv {
  height: 100%;
}
.fv-cloud {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.fv img{
  top: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.slider img {
  top: 0;
  width: 100vw;
  object-fit: cover;
  height: 100vh;
}
.slick-prev, .slick-next {
  display: none !important;
}
.fv-title {
  font-size: 1.77rem;
  text-transform: uppercase;
}
.btn-sec, .catalog-btn {
  padding: 15px 60px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  text-decoration: underline;
}
.detail-btn {
  background-color: rgb(34, 34, 34);
  border-radius: 50px;
  font-size: 1em;
}
.detail-btn:hover {
  opacity: 0.5;
}
/* intro */
.intro {
  position: relative;
  padding-bottom: 10%;
}
.intro, .service {
  text-align: center;
}
.intro-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.intro-wrapper {
  display: flex;
  max-width: fit-content;
  margin: 0 auto ;
  padding: 40px 0 0;
  position: relative;
}
.intro-text {
  font-weight: normal;
  padding: 30px 0 50px;
  color: #505050;
  margin: 0 auto;
}
.title-text h1, .service-title-text h1 {
  font-weight: lighter;
}
.title-text {
  position: absolute;
  top: 10%;
  right: 10%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #707070;
  font-size: 1.6rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
}
.title-text:after {
  margin: 110px 20px 0 0;
  border-bottom: 2.5px solid #707070;
  content: "";
  width: 12rem; /* 線の長さ */
  margin-left: 1em; /* 文字の左隣 */
  transform: rotate(90deg);
}
.intro-wrapper h3 {
  padding-top: 30px;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 60px;
}
.intro-foot {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* service */
.service {
  padding: 10% 0 0;
  text-align: center;
  position: relative;
  background: url(../top-img/service_bg.png);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.service-header {
  display: flex;
  width: 100%;
  top: 5%;
}
.service-cloud {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
}
.service-title-text {
  padding-left: 6%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #707070;
  font-size: 1.2rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
}
.service-title-text:after {
  margin: 120px 20px 0 0;
  border-bottom: 2.5px solid #707070;
  content: "";
  width: 12rem; /* 線の長さ */
  margin-left: 1em; /* 文字の左隣 */
  transform: rotate(90deg);
  z-index: 2;
}
.service-intro {
  width: 50%;
  margin: auto 0 auto 20px;
  line-height: 40px;
  font-size: 1.1rem;
  color: #505050;
}
.service-item {
  display: flex;
  position: relative;
  width: 100%;
  padding: 3% 0;
}
.service-text {
  width: 50vw;
  color: #505050;
}
.service-text p {
  padding-top: 30px;
  line-height: 40px;
}
.service-img {
  width: 50vw;
}
.service-item h1 {
  font-weight: lighter;
  padding: 5px 0;
}
.service-foot {
  position: absolute;
  top: 92%;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* catalog */
.catalog {
  height: 100%;
  text-align: center;
  padding-top: 10%;
  margin: 10% 0;
  position: relative;
  color: #505050;
}
.catalog-header {
  display: flex;
  position: absolute;
  top: 10%;
  left: 35%;
}
.catalog-intro {
  width: 55%;
  margin: auto 80px auto 0;
  line-height: 40px;
  font-size: 1.1rem;
  position: relative;
  z-index: 10;
}
.catalog-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #707070;
  font-size: 1.5rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog-text:after, .location-text:after  {
  margin: 110px 20px 0;
  border-bottom: 2.5px solid #707070;
  content: "";
  width: 12rem; /* 線の長さ */
  margin-left: 1em; /* 文字の左隣 */
  transform: rotate(90deg);
  z-index: 10;
}
.catalog-btn-wrapper {
  max-width: 55.6%;
  margin: 60px auto;
}
.top_catalog {
  margin: 0 0 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.catalog-title {
  width: 20%;
  padding: 40px 0 0 40px;
}
.fmt_title_1 {
  padding-bottom: 10px;
}
.catalog-title p {
  max-width: 300px;
}
.catalog-title br {
  display: none;
}
.swiper-container {
  max-width: calc(50% + (750px / 2) - 80px);
  width: 75%;
  position: relative;
  margin: 0 0 50px;
  z-index: 0 !important;
}
/* 全体のスタイル */
.swiper-wrapper {
	width: 100%;
	height: 250px;
  z-index: 0 !important;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}
.top_catalog:after {
  content: "";
  background: url(../top-img/2640663-min.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  width: 75%;
  height: 150px;
  position: absolute;
  right: 40px;
  bottom: -40px;
  border-radius: 50px;
  z-index: -3;
}
.swiper-pagination {
  background: transparent;
}
.swiper-pagination:active {
  background: transparent;
}
.swiper-button-next, .swiper-container-rtl {
  background-image: url(../top-img/right-arrow.svg) !important;
  right: 10px;
  left: auto;
}
.swiper-button-prev, .swiper-container-rtl {
  background-image: url(../top-img/left-arrow.svg) !important;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 55% !important;
  width: 47px !important;
  height: 47px !important;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 47px 47px !important;
  background-position: center;
  background-repeat: no-repeat;
}
.catalog-foot {
  position: absolute;
  top: 95%;
  left: 0;
  z-index: -4;
}
/* about */
.about {
  text-align: center;
  padding: 18% 0 10%;
  position: relative;
  color: #505050;
}
.about-title-text {
  position: absolute;
  padding-left: 4%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #707070;
  font-size: 1.2rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center; /* 水平中心 */
}
.about-title-text:after {
  margin: 120px 20px 0 0;
  border-bottom: 2.5px solid #707070;
  content: "";
  width: 12rem; /* 線の長さ */
  margin-left: 1em; /* 文字の左隣 */
  transform: rotate(90deg);
  z-index: 2;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding: 130px 20px 40px 60px;
  position: relative;
}
.about-item {
  width: 35%;
  margin: 10px;
}
.about-item img {
  vertical-align: unset;
  object-fit: unset;
}
.about-reverse {
  flex-direction: row-reverse;
}
.about-white {
  text-align: left;
  text-align: center;
  padding: 20px 0;
  display: grid;
  place-items: center;
}
.about-white svg {
  padding: 20px;
}
.about-white p {
  text-align: left;
  padding: 10px 10px 30px;
  font-size: 14px;
  line-height: 30px;
}
.about-foot {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  z-index: -1;
}
/* location */
.location {
  text-align: center;
  position: relative;
  color: #505050;
}
.location-intro {
  margin: 0 80px 0;
  position: absolute;
  top: 10%;
  left: 35%;
}
.location-text {
  position: absolute;
  top: 5%;
  right: 7%;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: #707070;
  font-size: 1.5rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-wrapper {
  max-width: 950px;
  margin: 0 auto;
}
.location-info {
  padding-top: 4%;
  list-style: none;
  display: flex;
}
.loc-info-img {
  width: 30%;
  margin: 0 auto;
}
.item-center {
  display: grid;
  place-items: center;
}
.location-info p {
  padding: 12px 10px;
}
.location-map img {
  margin-top: 10px;
  height: 450px;
}
.sub-title {
  border-bottom: 2px solid #1c6823;
}
.location-list {
  list-style: none;
  text-align: left;
  padding: 10px 0;
  line-height: 35px;
}
.location-list li {
  border-bottom: 1px solid #e6e6e6;
}
.sun-rise {
  width: 30%;
  margin: 0 auto;
  padding-top: 50px;
}
/* footer */
footer {
  background-color: #E6E5E5;
  color: #707070;
  text-align: center;
  padding: 3% 0 5%;
}
.footer-wrapper {
  display: flex;
}
.footer-logo {
  width: 8em;
  padding-top: 30px;
}
.footer-img {
  width: 40%;
}
.footer-detail {
  width: 30%;
  text-align: left;
  padding-top: 30px;
}
.footer-ul {
  width: 30%;
  line-height: 35px;
  margin: 0;
}
.footer-ul a {
  color: #707070;
}
/* page-top */
#page-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#page-top a {
  display: block;
  width: 70px;
  padding: 25px 0;
}
#page-top svg {
  background-color: #fff;
  border: 1px solid rgb(0, 124, 59);
  border-radius: 50%;
}
@media screen and (min-width: 1600px) {
  .dropdwn p {
    font-size: 1.3rem;
  }
  .intro-wrapper h3 {
    font-size: 1.3rem;
    line-height: 80px;
  }
  .intro-foot {
    top: 45%;
  }
  .service {
    padding: 10% 0 0;
  }
  .service-intro, .catalog-intro p, .location-intro p {
    font-size: 1.3rem;
    line-height: 60px;
  }
  .service-cloud {
    top: 2%;
  }
  .service-text {
    margin-top: 50px;
  }
  .service-text p {
    font-size: 1.2rem;
    line-height: 50px;
  }
  .catalog-header {
    top: 13%;
  }
  .fmt_title_1, .about-white h2 {
    font-size: 2rem;
  }
  .catalog-title p {
    font-size: 1.2rem;
    line-height: 40px;
    max-width: unset;
    margin-top: 20px;
  }
  .catalog-btn-wrapper {
    margin: 80px auto 60px;
  }
  .btn-sec, .catalog-btn {
    font-size: 1.4rem;
  }
  .about {
    padding: 20% 0 0;
  }
  .about-foot {
    top: 65%;
  }
  .about-wrapper {
    padding: 90px 20px 100px 60px;
  }
  .about-item {
    margin: 15px;
  }
  .about-white {
    padding: 30px 0;
  }
  .about-white p {
    font-size: 1.2rem;
    padding: 30px 10px 40px;
    line-height: 50px;
  }
  .location {
    margin-top: 10%;
  }
  .location-list {
    font-size: 1.4rem;
    line-height: 50px;
  }
}
@media screen and (max-width: 1500px) {
  .service-intro {
    margin: 100px 0 0 20px;
  }
  .service-title-text {
    padding-left: unset;
  }
}
@media screen and (max-width: 1300px) {
  .service-header {
    top: 3%;
  }
  .catalog-header {
    left: 30%;
  }
  .catalog-intro {
    width: 65%;
    margin: 30px 20px 0 0;
  }
  .about {
    padding: 18% 0 0;
  }
  .about-wrapper {
    padding: 60px 20px 80px 60px;
  }
}
@media screen and (max-width: 1200px) {
  .title-text {
    right: 5%;
  }
  .title-text:after, .catalog-text:after, .location-text:after {
    width: 9rem;
    margin: 90px 20px 0;
  }
  .intro-wrapper {
    padding: 0;
  }
  .title-text h1 {
    font-size: 1.6em;
  }
  .service {
    padding: 5% 0 0;
  }
  .service-img, .service-text {
    width: 70vw;
  }
  .service-header {
    top: 1%;
  }
  .service-intro {
    margin: 80px 0 0;
    z-index: 10;
  }
  .service-intro p, .catalog-intro p, .location-intro {
    font-size: 15px;
  }
  .service-cloud {
    top: 1%;
  }
  .service-foot {
    padding-top: 15%;
  }
  .service-item, .about-wrapper {
    flex-direction: column;
  }
  .reverse-column {
    flex-direction: column-reverse;
  }
  .service-img_left, .service-img, .service-text {
    margin: 0 auto;
  }
  .catalog {
    margin: 7% 0 0;
    padding-top: 15%;
  }
  .catalog-intro {
    width: 90%;
  }
  .catalog-header {
    left: 25%;
  }
  .swiper-slide {
    width: 80%;
  }
  .swiper-container {
    max-width: 700px;
  }
  .catalog-title {
    width: 50%;
    padding: 40px 0 0;
  }
  .catalog-text h1, .location-text h1 {
    font-size: 1.7em;
  }
  .catalog-title p {
    margin: 0 auto;
    line-height: 37px;
  }
  .top_catalog:after {
    width: 65vw;
    height: 180px;
    right: 0;
    border-radius: 70px 0 0 70px;
  }
  .detail-btn {
    margin-top: 20px;
  }
  .btn-sec, .catalog-btn {
    padding: 23px 90px;
    font-size: 1.2rem;
  }
  .about {
    padding: 20% 0 10%;
  }
  .about-wrapper {
    padding: 130px 0 80px 0;
  }
  .about-item {
    width: 70vw;
    margin: 0 auto 80px;
  }
  .about-white {
    width: 60vw;
    padding: 30px 0;
    margin: 0 auto;
  }
  .about-white h2 {
    font-size: 2em;
  }
  .about-white p {
    font-size: 1.1rem;
    line-height: 50px;
    padding: 30px 0 0;
  }
  .about-title-text {
    padding-top: 20px;
    padding-left: unset;
    z-index: 6;
  }
  .about-foot {
    top: 90%;
  }
  .location {
    padding-top: 3%;
  }
  .location-text {
    right: 4%;
  }
}
@media screen and (max-width: 1060px) {
  .dropdwn-inner {
    width: 100%;
  }
  .dropdwn-icon {
    width: 48px;
    height: 48px;
  }
  .border-right {
    margin-top: 18px;
  }
  .service-title-text:after {
    width: 9rem;
    margin: 90px 20px 0;
  }
  .service-intro {
    width: 55%;
  }
  .catalog {
    margin: 10% 0 0;
  }
  .catalog-header {
    top: 7%;
    right: 1%;
  }
  .about {
    padding: 20% 0 5%;
  }
  .about-title-text:after {
    width: 9rem;
    margin: 90px 20px 0;
  }
  .location-text {
    right: 0;
  }
  .location-wrapper {
    margin: 0 30px;
    max-width: unset;
  }
  iframe {
    width: 80vw !important;
  }
}
@media screen and (max-width: 960px){
  .logo {
    width: 50px;
  }
  .header-logo {
    padding: 10px 0 0;
  }
  .header-contact {
    padding: 30px 7px;
  }
  .header-mail {
    padding-bottom: 30px;
  }
  .header-mail, .header-tel {
    font-size: 0.8rem;
  }
  .gold-ball {
    width: 40px;
    padding-top: 35px;
  }
  .header-mail p:after {
    border-bottom: 1px solid #0c0c0c;
    width: 3rem;
    top: 138px;
    right: 7%;
  }
  .header-tel p:after {
    border-bottom: 1px solid #0c0c0c;
    width: 3rem;
    top: 322px;
    right: 7%;
  }
  .title-text {
    top: 7%;
    font-size: 1.2rem;
  }
  .title-text:after {
    width: 5rem;
    margin: 50px 10px 0;
    border-bottom: 1px solid #707070;
  }
  .intro-text {
    padding: 100px 0;
  }
  .intro-wrapper h3 {
    line-height: 50px;
  }
  .intro-foot {
    top: 60%;
  }
  .service {
    margin: 10% 0 0;
  }
  .service-intro {
    width: 75%;
    margin: auto 30px auto 0;
  }
  .service-title-text {
    font-size: 0.9rem;
    padding-left: 20px;
    transform: translateY(-30%);
  }
  .service-title-text:after {
    width: 6rem;
    margin: 60px 10px 0;
    border-bottom: 1px solid #707070;
  }
  .service-cloud {
    top: -1.5%;
    z-index: 9;
  }
  .service-wrapper {
    max-width: 80%;
  }
  .service-item {
    margin: 0 0 20px;
  }
  .swiper-container {
    width: 100%;
    max-width: 90%;
  }
  .service-foot {
    padding-top: 20%;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0 !important;
  }
  .catalog {
    margin: 15% 0 0;
    padding-top: 10%;
  }
  .catalog-title {
    width: 50%;
    padding: 40px 20px 0;
  }
  .catalog-title p {
    line-height: 32px;
  }
  .catalog-title br {
    display: block;
  }
  .catalog-text, .location-text {
    padding-right: 20px;
  }
  .catalog-text h1, .location-text h1 {
    font-size: 1.4em;
  }
  .catalog-text:after, .about-title-text:after, .location-text:after {
    width: 6rem;
    margin: 60px 10px 0;
    border-bottom: 1px solid #707070;
  }
  .top_catalog:after {
    width: 55vw;
  }
  .catalog-header {
    position: relative;
    margin-left: 20%;
    right: 0;
    left: unset;
  }
  .catalog-intro {
    margin: 30px 0 0 20px;
  }
  .catalog-cloud {
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 2;
  }
  .swiper-container {
    max-width: 50vw;
  }
  .swiper-button-next, .swiper-container-rtl, .swiper-button-prev {
    display: none;
  }
  .about-wrapper {
    display: block;
    max-width: unset;
  }
  .about-title-text {
    font-size: 1rem;
    padding-left: 20px;
  }
  .about-white p {
    font-size: 1.1rem;
  }
  .location {
    padding-top: 0;
  }
  .location-text {
    top: 0;
  }
  .location-intro {
    top: 5%;
    left: 30%;
  }
  .location-info img {
    max-width: 100%;
  }
  .location-map img {
    padding: 15px 0 15px 15px;
    height: unset;
  }
  iframe {
    height: 370px;
  }
  #page-top {
    right: 10px;
  }
  .footer-logo {
    width: 6em;
  }
}
@media screen and (max-width: 700px) {
  .dropdwn-icon {
    width: 38px;
    height: 38px;
  }
  .dropdwn-inner p {
    font-size: 0.8rem;
  }
  .border-right {
    border: 0;
  }
  .intro-wrapper {
    max-width: 90%;
    padding: 0 20px;
  }
  .intro-foot {
    top: 70%;
  }
  .title-text {
    font-size: 1rem;
    right: 0;
  }
  .service {
    margin: 12% 0 0;
  }
  .service-title-text {
    font-size: 0.8rem;
    padding-left: 0;
  }
  .service-intro {
    width: 90%;
    line-height: 35px;
    margin: auto 50px auto 0;
  }
  .service-img, .service-text {
    width: 80vw;
  }
  .catalog-text {
    padding-right: unset;
  }
  .catalog-cloud {
    top: -1%;
  }
  .catalog-header {
    margin-left: 10%;
  }
  .catalog-intro {
    margin: 50px 0 0 20px;
  }
  .about {
    padding: 20% 0 0;
  }
  .about-item, .about-white {
    width: 80vw;
  }
  .about-title-text {
    padding: 0;
  }
  .about-foot {
    top: 93%;
  }
  .location {
    margin-top: 5%;
  }
  .location-intro {
    margin: 0 20px;
  }
  iframe {
    height: 340px;
  }
  footer {
    padding: 5% 0;
  }
  .footer-logo {
    width: 4em;
    padding-top: 10px;
  }
  .footer-ul, .footer-detail p {
    font-size: 0.8rem;
    line-height: 28px;
  }
  .footer-detail {
    padding-top: unset;
  }
  .footer-detail small {
    font-size: 70%;
  }
}
@media screen and (max-width: 600px) {
  .intro-text {
    padding: 70px 0 100px;
  }
  .intro-wrapper h3 {
    font-size: 1rem;
    line-height: 46px;
  }
  .title-text {
    top: 3%;
  }
  .title-text:after {
    width: 4rem;
    margin: 40px 10px 0;
  }
  .catalog {
    margin: 10% 0 0;
  }
  .catalog-title {
    padding: 0 20px;
    width: 40vw;
  }
  .swiper-container {
    max-width: 60vw;
  }
  .top_catalog:after {
    width: 65vw;
    height: 150px;
  }
  .fmt_title_1 {
    font-size: 1.3rem;
  }
  .catalog-title p {
    font-size: 0.8rem;
    line-height: 20px;
  }
  .btn-sec, .catalog-btn {
    padding: 18px 60px;
    font-size: 1rem;
  }
  .location-info {
    display: block;
  }
  iframe {
    height: 300px !important;
  }
  .loc-info-img {
    width: 50%;
    margin: 30px auto;
  }
  .location-list {
    padding: 20px 0;
  }
  .footer-ul, .footer-detail {
    width: 40%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .dropdwn, .dropdwn-inner {
    height: 70px;
  }
  .dropdwn li {
    margin: 10px 0 0;
  }
  .dropdwn-icon {
    width: 33px;
    height: 33px;
  }
  .dropdwn-inner p {
    font-size: 10px;
  }
  .intro-cloud {
    width: 600px;
  }
  .title-text {
    font-size: 0.85rem;
    top: 1%;
  }
  .intro-text {
    padding: 50px 0 70px;
  }
  .intro-wrapper {
    width: 100%;
    margin: 5% 0 5% 5%;
  }
  .intro-wrapper h3 {
    font-size: 0.75rem;
    line-height: 40px;
    margin: 0 20px;
  }
  .non-br, .service-text p br {
    display: none;
  }
  .intro-foot {
    top: 80%;
  }
  .service {
    padding: 12% 0 0;
    /* margin: 17% 0 0; */
  }
  .service-title-text {
    font-size: 0.6rem;
  }
  .service-title-text:after, .catalog-text:after, .location-text:after {
    width: 4rem;
    margin: 40px 10px 0;
  }
  .service-intro p, .service-text p, .catalog-intro p, .location-intro {
    font-size: 12px;
  }
  .service-intro {
    line-height: 26px;
    margin: 0 30px 30px 0;
  }
  .service-cloud {
    top: -1%;
  }
  .service-item h1 {
    font-size: 1.4rem;
    padding: 10px 0 0;
  }
  .service-text p {
    padding-top: 10px;
    line-height: 30px;
  }
  .service-foot {
    top: 96%;
  }
  .catalog {
    margin: 25% 0 0;
  }
  .catalog-text h1, .location-text h1 {
    font-size: 0.9em;
  }
  .catalog-cloud {
    top: 1.5%;
  }
  .catalog-header {
    margin: 0 0 30px;
  }
  .catalog-intro {
    line-height: 26px;
    margin-left: 30px;
  }
  .fmt_title_1 {
    font-size: 15px;
  }
  .catalog-title {
    width: 50vw;
    padding: 0 10px;
  }
  .catalog-title p {
    font-size: 10px;
  }
  .btn-sec, .catalog-btn {
    padding: 12px 40px;
    font-size: 15px;
  }
  .detail-btn {
    margin-top: unset;
  }
  .top_catalog:after {
    height: 110px;
    top: 50%;
  }
  .catalog-foot {
    top: 100%;
  }
  .about-title-text {
    font-size: 0.7rem;
  }
  .about-title-text:after {
    width: 3.5rem;
    margin: 40px 10px 0;
  }
  .about-item, .about-white {
    width: 90vw;
    padding: 17px 0;
    margin: 0 auto 10px;
  }
  .about-white {
    margin: 0;
  }
  .about-white h2 {
   font-size: 1.5em;
  }
  .about-white p {
    padding: 20px 10px;
    font-size: 0.8rem;
    line-height: 30px;
  }
  .about-wrapper {
    padding: 110px 0 0;
  }
  .about-foot {
    top: 97%;
  }
  .location {
    margin-top: 20%;
  }
  .location-text, .location-info {
    padding: 0;
  }
  .location-wrapper {
    margin: 40px 25px 0;
  }
  iframe {
    width: 100% !important;
    height: 200px !important;
  }
  footer {
    padding: 7% 0 10%;
  }
  .location-list {
    padding: 0;
  }
  .location-list li {
    font-size: 0.8rem;
  }
  .footer-logo {
    width: 3em;
    margin-left: 20px;
    padding-top: 0;
  }
  .footer-ul, .footer-detail p {
    font-size: 0.7rem;
    line-height: 22px;
    padding: 0;
  }
  .footer-ul, .footer-detail {
    width: 60%;
    padding: 0;
  }
  .footer-detail {
    padding-right: 20px;
    line-height: 10px;
  }
  .footer-detail small {
    font-size: 60%;
  }
}
